<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Signup!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="jumbotron" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Old_English_Sheep_Dog.JPG/640px-Old_English_Sheep_Dog.JPG); height: 350px; background-repeat: no-repeat; background-color: black; background-position: center;">

        <h1 class="display-4" style="color: gray">No Worries Pet Sitting</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style="color: gray; text-align: right">Find a sitter, find a job!</h2>
    </div>

    <h1>We're here to match reliable pet sitters with pet owners in need</h1>

    <button class="button" class="btn btn-primary" id="login" value="Sign Up">Login!</button><br><br><br>

    <div>
      <div>
        <p>"I'm so happy I found No Worries Pet Sitting! I needed a sitter at the last minute and they did not fail! I will definitely use this service again. </p>
        <h5>Sean Doe</h5>
        <span>Customer - Chicago</span>
      </div><br><br>

      <div>
        <p>"I didn't think I'd find anyone comfortable with sitting my skunk in the Houston area but No Worries Pet Sitting
            put me in contact with Dartaniel who was a Godsend!"</p>
        <h5>Emily Waterly</h5>
        <span>Customer - Houston</span>
      </div>
    </div><br><br><br><br>

    <footer>

        <div class="footer-bottom bg-dark">
            <div class="container" style="width: 200px">
                <div class="row">
                    <div>
                        <p style="color: gray;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FakeNewz Was Here</p>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>