<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Signup!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>

</head>

<body>
	<div class="jumbotron" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Kitten_%2806%29_by_Ron.jpg/640px-Kitten_%2806%29_by_Ron.jpg); height: 350px; background-repeat: no-repeat; background-color: black; background-position: center;">

		<h1 class="display-4" style="color: gray">No Worries Pet Sitting</h1>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h2 style="color: gray; text-align: right">Find a sitter, find a job!</h2>
	</div>

	<form id="signup" style="margin: 50px" name="signup" method="post" action="/signup">
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Address" name="email" id="firstq"
			 required>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" placeholder="Password" name="thepassword" id="secondq" required>
		</div>
		<div class="form-group">
			<label>Full Name</label>
			<input class="form-control" placeholder="fullName" name="userfullname" required>
		</div>
		<p>
			<b>City:</b>
		</p>
		<select id="three_q" name="usercity">
			<option value="Boston">Boston</option>
			<option value="Chicago">Chicago</option>
			<option value="Los Angeles">Los Angeles</option>
			<option value="New York">New York</option>
		</select>
		<br>
		<br>
		<p>
			<b>Owner or Sitter?</b>
		</p>
		<select id="four_q" name="ownerorsitter">
			<option value="Owner">Owner</option>
			<option value="Sitter">Sitter</option>
		</select>
		<button class="button" class="btn btn-primary" id="login" value="Sign Up">Submit</button>
	</form>
	<br>
	<br>
	<br>
	<br>
	<br>

	<footer>

		<div class="footer-bottom bg-dark">
			<div class="container" style="width: 200px">
				<div class="row">
					<div>
						<p style="color: gray;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FakeNewz Was Here</p>
					</div>
				</div>
			</div>
		</div>

	</footer>

</body>

</html>