<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Signup!</title>
	<!-- Favicon -->
	<link href="../Public/assets/images/favicon.png" rel="shortcut icon">
	<!-- CSS -->
	<link href="../Public/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="../Public/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
	<link href="../Public/assets/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
	<link href="../Public/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="../Public/assets/css/app.css" rel="stylesheet">
	<!-- Fonts/Icons -->
	<link href="../Public/assets/plugins/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
	<link href="../Public/assets/plugins/themify/themify-icons.min.css" rel="stylesheet">
</head>

<body data-preloader="2">
	<header>
		<div class="bg-image parallax" style="background-image: url(/../../Public/assets/images/background.christmasdog.jpg)">
			<div class="page-title-sm bg-black-07 text-center">
				<div class="container">
				</div>
			</div>
		</div>
	</header>

	<form id="signup" name="signup" method="post" action="/signup">
		<input type="email" placeholder="Email Address" name="email" id="firstq" required>
		<input type="password" placeholder="Password" name="thepassword" id="secondq" required>
		<button class="button" id="login" value="Sign Up">Login</button>
	</form>

	<footer>

		<div class="footer-bottom bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 text-center text-md-left">
						<p>&copy; FakeNewz was here</p>
					</div>
				</div>
			</div>
		</div>

	</footer>

		<!-- Libraries -->
		<script src="../Public/assets/plugins/jquery.min.js"></script>
		<script src="../Public/assets/plugins/bootstrap/popper.min.js"></script>
		<!-- Plugins -->
		<script src="../Public/assets/plugins/bootstrap/bootstrap.min.js"></script>
		<script src="../Public/assets/plugins/appear.min.js"></script>
		<script src="../Public/assets/plugins/easing.min.js"></script>
		<script src="../Public/assets/plugins/retina.min.js"></script>
		<script src="../Public/assets/plugins/countdown.min.js"></script>
		<script src="../Public/assets/plugins/imagesloaded.pkgd.min.js"></script>
		<script src="../Public/assets/plugins/isotope.pkgd.min.js"></script>
		<script src="../Public/assets/plugins/jarallax/jarallax.min.js"></script>
		<script src="../Public/assets/plugins/jarallax/jarallax-video.min.js"></script>
		<script src="../Public/assets/plugins/jarallax/jarallax-element.min.js"></script>
		<script src="../Public/assets/plugins/magnific-popup/magnific-popup.min.js"></script>
		<script src="../Public/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<!-- Scripts -->
		<script src="../Public/assets/js/functions.js"></script>

  </body>
</html>